<div class="container">
  <div class="card text-dark bg-light mb-3">
    <div class="card-header">Customer Management</div>
    <div class="card-body">
      <div>
        <button style="float: right" class="btn btn-primary"
                (click)="showFormCreate()">{{isFormCreate ? 'Hide' : 'Create'}}</button>
        <app-customer-create (eventEmitter)="addNewCustomer($event)" *ngIf="isFormCreate"
                             style="float: right"></app-customer-create>
      </div>
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{customer.id}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.phone}}</td>
          <td>
            <button class="btn btn-primary" (click)="showFormEdit(i)">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
      <app-customer-edit style="float: right" (eventEmitter)="editCustomer($event)" [customer]="customers[index]"
                         *ngIf="isFormEdit"></app-customer-edit>
    </div>
  </div>
</div>
