<div class="content-header">
  <div class="container-fluid">
    <div class="float-sm-right">
      <form>
        <input type="search" (input)="getAllCustomer(0)" [(ngModel)]="search" name="q" placeholder="Search Anything"
               class="form-control">
      </form>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Customer Management</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="/customers">Home</a></li>
          <li class="breadcrumb-item active">Customers</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Customers List</h3>
            <div class="card-tools">
              <button class="btn btn-sm btn-success"
                      routerLink="/customers/create">Create New Customer
              </button>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="table-responsive table-bordered ">
              <table class="table m-0">
                <thead>
                <tr class="table-light">
                  <th>STT</th>
                  <th>Id</th>
                  <th>Avatar</th>
                  <th>First Name</th>
                  <th (click)="sort('lastName')">Last Name</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th scope="row" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody id="body">
                <ng-container *ngIf="(customers.length > 0)">
                  <tr
                    *ngFor="let customer of customers | orderBy:key:caseInsensitive; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{customer.id}}</td>
                    <td><img src="http://localhost:8080/{{customer.avatar}}" style="width: 192px;height: 108px"></td>
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.address}}</td>
                    <td>
                      <button class="btn btn-block btn-primary" style="padding: 0"
                              routerLink="/customers/edit/{{customer.id}}">
                        <i class="fas fa-edit"></i>
                      </button>
                    </td>
                    <td>
                      <button type="button"
                              class="btn btn-block btn-danger"
                              data-toggle="modal"
                              data-target="#modal-delete-customer"
                              style="padding: 0;color: white"
                              (click)="findCustomerById(customer.id);findNameInModal(customer.id)">
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer clearfix">
            <nav aria-label="Page navigation example" style="float: right">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" (click)="previousPage()" *ngIf="hasPrevious()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item" *ngFor="let page of totalPage; index as i">
                  <a class="page-link" (click)="choosePage(page)">{{page + 1}}</a></li>
                <li class="page-item">
                  <a class="page-link" (click)="nextPage()" *ngIf="hasNext(totalPage.length)"
                     aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!--          Modal Delete-->
          <div class="modal fade" id="modal-delete-customer">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Customer</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure delete customer : <i><span id="name"></span></i> ?</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="submitDelete()">Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
