<form>
  <input type="text" placeholder="Id"  name="id" [(ngModel)]="customer.id"><br>
  <input type="text" placeholder="First Name:" name="fistName" [(ngModel)]="customer.firstName"><br>
  <input type="text" placeholder="Last Name:"  name="lastName" [(ngModel)]="customer.lastName"><br>
  <input type="text" placeholder="Address:" name="address" [(ngModel)]="customer.address"><br>
  <input type="text" placeholder="Phone" name="phone" [(ngModel)]="customer.phone"><br>
  <button (click)="submit()">Add</button>
</form>
